.container {
	display: flex;
	/* align-items: flex-start; */
	/* flex-direction: column; */
	/* width: 50%; */
	/* justify-content: flex-end; */
	/* flex-basis: 50%; */
}
.container div {
	border: 1px solid #f0f0f0;
	padding: 10px;
	/* flex-basis: 30%; */
}
.box-1 {
	flex-basis: ;
}

.box-2 {
}
.box-3 {
}

.inline-container {
	display: inline-flex;
	background-color: blueviolet;
}
.flex-child {
	flex: 1;
	width: 50px;
	height: 50px;
	background-color: aqua;
	margin: 10px;
	/* padding: 10px; */
	border: 1px solid dark;
}
.justify-container {
	display: flex;
	/* justify-content: space-around; */
	flex-direction: column;
	/* flex-direction: row; */
}
.justify-child {
	width: 100px;
	height: 100px;
	background-color: burlywood;
	margin: 10px;
}
.flex-wrap-container {
	display: flex;
	border: 1px solid #f5f5f5;
	list-style: none;
	margin: 0;
	padding: 0;
}
.flex-item {
	background-color: tomato;
	width: 100px;
	height: 100px;
	margin: 10px;
	padding: 5px;
	text-align: center;
	font-size: 2em;
	color: white;
	/* justify-content: center; */
	/* align-self: center; */
	/* align-items: center; */
	/* align-content: center; */
}
.wrap-reverse li {
	background-color: deepskyblue;
}
.wrap li {
	background-color: gold;
}
/* nowrap, wrap, wrap-reverse */
.nowrap {
	flex-wrap: nowrap;
}
.wrap {
	flex-wrap: wrap;
}
.wrap-reverse {
	flex-wrap: wrap-reverse;
}
